# ---> Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform
.terraform.lock.hcl
.backend.config

# baston pids
.session
.bastion

# local creds
.tfvars

# zitadel credentials
.zitadel

.gitsecret/keys/random_seed
!*.secret
bootstrap/.env

.terragrunt-cache
gitops/templates/forgejo-runner/secrets/forgejo-runner-token.yaml
gitops/templates/feedback-fusion/secrets/feedback-fusion-config.yaml
gitops/templates/feedback-fusion/secrets/feedback-fusion-dashboard-config.yaml
gitops/templates/event/secrets/surrealdb-credentials.yaml
gitops/templates/dawarich/secrets/config.yaml
gitops/templates/cal/secrets/calcom.yaml
gitops/templates/sogo/secrets/sogo-config.yaml
