apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: event-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - surrealdb-credentials.enc.yaml
